canvas {
  border: 1px solid black;
}

.form{
    display: block;
    margin-left:100px;
    margin-bootom:10px;
}
.main_page_border {
    padding:10px;
    background-color: white;
    box-shadow: 0 0 20px #666;
    margin: 55px auto 0;
    width: 768px;
}